
@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: "Benzin-Bold";
    src: local("Benzin-Bold"),
     url("../fonts/Benzin-Bold.ttf") format("truetype");
    font-weight: bold;
    }
    @font-face {
        font-family: "Benzin-Regular";
        src: local("Benzin-Regular"),
         url("../fonts/Benzin-Regular.ttf") format("truetype");
        }
        
        
       